<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7310841175510611"
            crossorigin="anonymous"></script>
    <title>ip-country</title>
</head>
<body>
<h2 align="center">Query Country OF IP</h2>
<form th:action="@{/index}" method="get">
    <input type="text" name="ip" th:value="${ip}"  placeholder="input ipv4 or ipv6 address" size="50" >
    <button type="submit" class="btn btn-info" >Search</button>
    <button type="submit" class="btn btn-info" >Reset</button>
</form>
<div th:text="${result}" ></div>
<br/>
<br/>
<div th:text ="'your own ip address is ' +  ${ownip}+ ', located in ' + ${country}"></div>
<br/>
<a href="https://lichuanyang.top/posts/36780/">Interested in how it implemented? see here</a>
</body>
</html>
